<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
    <add key="LocalFeed" value="C:\nexcorNuget\" />
    <add key="Github" value="https://nuget.pkg.github.com/NexcorFoodSafety/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="Robert.burgh@nexcortech.com" />
            <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAN2ICKYwQM0idPvWMoJqvgwAAAAACAAAAAAADZgAAwAAAABAAAABa8DV8WgTTwfOa3w9uolQIAAAAAASAAACgAAAAEAAAAHpehkubdi7UAtJUd35eX7UYAAAAMaG6P798avbeDEtn29dImFY0OwAAGpq+FAAAAPRdOLcGkDBHE/Gm0rVMY8LYuZ7T" />

    </telerik.com>
    <Github>
       <add key="Username" value="automation@nexcortech.com" />
       <add key="ClearTextPassword" value="627cc93a642fa1fc48e0ca472d4466d490ce7d1f" />
    </Github>
  </packageSourceCredentials>
</configuration>